<div class="container mt-5">
  <h1 class="mb-4">Term List Generation Form</h1>

  <%= form_with(url: generate_path, method: :post, class: 'mb-4' , id: "dataForm" ) do |form| %>
    <table style="height: 1px;">
      <table style="height: 100px;">
        <tbody>
          <tr>
            <td class="align-bottom">
              <%= form.label :num_staff, 'Number of Staff' %>
            </td>
            <td class="align-bottom">
              <%= form.number_field :num_staff, min: 1, max: 100000, required: true, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="align-bottom">
              <%= form.label :num_students, 'Number of Students' %>

            </td>
            <td class="align-baseline">
              <%= form.number_field :num_students, min: 1, max: 100000, required: true, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="align-bottom">
              <%= form.label :num_classes, 'Number of Classes' %>

            </td>
            <td class="align-baseline">
              <%= form.number_field :num_classes, min: 1, max: 100000, required: true, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="align-bottom">
              <%= form.label :num_buildings, 'Number of Buildings' %>

            </td>
            <td class="align-baseline">
              <%= form.number_field :num_buildings, min: 1, max: 100000, required: true, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="align-bottom">
              <%= form.label :num_students_per_class, 'Number of Students per Class' %>

            </td>
            <td class="align-baseline">
              <%= form.number_field :num_students_per_class, min: 1, max: 100000, required: true, class: 'form-control'
                %>
            </td>
          </tr>
          <tr>
            <td class="align-bottom">
              <%= form.label :num_staff_per_class, 'Number of Staff per Class' %>

            </td>
            <td class="align-baseline">
              <%= form.number_field :num_staff_per_class, min: 1, max: 100000, required: true, class: 'form-control' %>
            </td>
          </tr>
        </tbody>
      </table>


      <div class="text-center mt-4">
        <%= form.submit 'Generate Data' , class: 'btn btn-primary' %>
      </div>
      <% end %>

</div>
<div id="loadingMessage" style="display:none;">
  Generating Term Files, please wait...
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var form = document.getElementById("dataForm");
    var loadingMessage = document.getElementById("loadingMessage");

    form.addEventListener("submit", function (event) {
      event.preventDefault();


      loadingMessage.style.display = "block";

      var formData = new FormData(form);

      var xhr = new XMLHttpRequest();
      xhr.open("POST", form.action, true);
      xhr.onload = function () {
        if (xhr.status === 200) {
          setTimeout(function () {
            window.location.href = '<%= download_staff_csv_url %>';
          }, 1000);

          setTimeout(function () {
            window.location.href = '<%= download_students_csv_url %>';
          }, 2000);

          setTimeout(function () {
            window.location.href = '<%= download_classes_csv_url %>';
          }, 3000);

          setTimeout(function () {
            window.location.href = '<%= download_enrollment_csv_url %>';
          }, 4000);

          loadingMessage.style.display = "none";
        }
      };
      xhr.send(formData);

    });
  });
</script>