<!DOCTYPE html>
<html>
<head>
  <title>DataGenerationApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> %>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Term List Generation', root_path, class: 'navbar-brand' %>
  <%= link_to 'Guardian List Generation', data_guardian_path, class: 'navbar-brand' %>
  <div class="ml-auto">
      <%= render 'layouts/header' %>
  </div>
  </nav>
<div class="container">
  <p class="notice" style="text-align: center; color: blue;"><%= notice %></p>
  <p class="alert" style="text-align: center; color: blue;"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
